body,html{
    background-color: aliceblue;
    margin: auto;
    padding: auto;
}
h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
button{
    margin-left: 50px;
    font-size: 35px;
    border-radius: 30%;
    background-color: rgb(150, 91, 204);
    border: solid rgb(150, 91, 204) 16px;
    transition-duration: 0.4s;
    box-shadow: 6px 9px #888888
}